@assuncaovictor:registry=https://npm.pkg.github.com/

//registry.npmjs.org:_authToken={TOKEN}
//registry.npmjs.org:username={USERNAME}
//registry.npmjs.org:email={EMAIL}
//registry.npmjs.org:email={PASSWORD}
