@assuncaovictor:registry=https://npm.pkg.github.com/

//https://npm.pkg.github.com/:_authToken={TOKEN}
//https://npm.pkg.github.com/:_password={PASSWORD}
//https://npm.pkg.github.com/:username={USERNAME}
//https://npm.pkg.github.com/:email={EMAIL}
